<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Merci pour votre message</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }
        .header {
            background-color: #f8f8f8;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #e0e0e0;
        }
        .content {
            padding: 20px;
        }
        .link {
            color: #633e76ff;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            color: #777;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Merci pour votre inscription, {{ user.pseudo }} !</h1>
        </div>
        <div class="content">
            <p>Veuillez cliquer sur le lien en dessous pour activer votre compte et pouvoir vous connecter.</p>
            <a class="link" href="{{ website_url }}/verify?token={{ token }}&email={{ user.email }}">
            Confirmer mon compte
            </a>
            <p>Si le token est expiré, tentez de vous connecter, si besoin, un nouvel email vous sera envoyé.</p>
        </div>
        <div class="footer">
            <p>© {{ "now"|date("Y") }} Fractals Drawing. Tous droits réservés.</p>
        </div>
    </div>
</body>
</html>